body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: rgb(20, 20, 20);
  font-family: sans-serif;
  color: white;
}

.doneTodo {
  text-decoration: line-through;
  color: rgb(88, 88, 88);
}
